.spacexHead{
    background-color:#eee;
    padding-bottom: 15px;
    margin: 0px;
    font-size: 25px;
}

.developerHead{
    background-color:#eee;
    padding-bottom: 15px;
    margin: 0px;
    font-size: 20px;
    text-align: center;
}

